<!doctype html>
<html lang="pt-br">

<head>
  <title>Página Inicial | Bestmeal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/resources/storage/icone/favicon.ico" type="image/x-icon">
  <!---Links CSS-->
  <link rel="stylesheet" href="/resources/css/_theme.css">
  <link rel="stylesheet" href="/resources/css/footer.css">
  <link rel="stylesheet" href="/resources/css/home.css">
  <link rel="stylesheet" href="/resources/css/media.css">
  <link rel="stylesheet" href="/resources/css/login.css">
  <link rel="stylesheet" href="/resources/css/cadastrar.css">
  <link rel="stylesheet" href="/resources/css/create.css">
  <link rel="stylesheet" href="/resources/css/esqueceu_senha.css">
  <link rel="stylesheet" href="/resources/separate/app.css">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>
     <!---Navbar-->
  <header>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-light open-sans sticky-top text-center nav-shadow align-items-center">
      <div class="container" id="filter-btn-box">
        <a href="" class="navbar-brand fs-5 fw-bold">
          <img class="logo-bestmeal" src="/resources/storage/logo/bestmeal-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center " id="navbar">
        </div>

        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class=" nav-link small text-dark menu" aria-current="page" href="/views/home/index.html" id="home">Início</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link small text-dark menu " href="/views/home/create.html" id="create">Criar pedido</a>
          </li>
          <li class="nav-item">
            <a class="  nav-link small text-dark menu" href="/views/home/created.html" id="created">Minhas criações</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link small text-dark menu" href="#" id="account">Conta</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <small class=" nav-link small text-muted disabled">
            </small>
          </li>
          <li class="nav-item">
            <a class=" nav-link small text-dark" href="#">Sair</a>
          </li>
        </ul>
    </nav>
  </header>
     
   <main>
    <div id="app">
        <div>
            <img class="w-100 " src="/resources/storage/banner/tela-cardapio.png" alt="">
        </div>
        <div class="container">
            <h2 class="text-center mt-5 app-titulo">Monte seu lanche</h2>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <span class="text-danger text-center fs-4" v-for="e in errors">{{ e }}</span>
                        <section v-if="step == 1">
                            <h5 class="mt-3 app-subtitulo">Escolha seu pão</h5>
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao1" value="Pão de Hambúrguer">
                                        <label for="pao1">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao1.png">
                                            <p>Pão de Hambúrguer</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao2" value="Mini Pão de Hambúrguer">
                                        <label for="pao2">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao2.png">
                                            <p>Mini Pão de Hambúrguer</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao3" value="Pão Brioche">
                                        <label for="pao3">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao3.png">
                                            <p>Pão Brioche</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao4" value="Pão Baguete">
                                        <label for="pao4">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao4.png">
                                            <p>Pão Baguete</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao5" value="Pão de Forma">
                                        <label for="pao5">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao5.png">
                                            <p>Pão de Forma</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao6" value="Pão de Hot Dog">
                                        <label for="pao6">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao6.png">
                                            <p>Pão de Hot Dog </span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao7" value="Pão de Hambúrguer Rosa">
                                        <label for="pao7">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao7.png">
                                            <p>Pão de Hambúrguer Rosa</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao8" value="Pão de Hambúrguer Azul">
                                        <label for="pao8">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao8.png">
                                            <p>Pão de Hambúrguer Azul</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao9" value="Pão de Hambúrguer Verde">
                                        <label for="pao9">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao9.png">
                                            <p>Pão de Hambúrguer Verde</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao10" value="Pão de Frances Redondo">
                                        <label for="pao10">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao10.png">
                                            <p>Pão de Francês Redondo</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao11" value="Pão de Hambúrguer com cebola">
                                        <label for="pao11">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao11.png
                                            ">
                                            <p>Pão de Hambúrguer com cebola</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper pao">
                                        <input v-model="form.pao" type="radio" id="pao12" value="Pão de Hot Dog Australiano">
                                        <label for="pao12">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/pao/pao12.png">
                                            <p>Pão de Hot Dog Australiano</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
    
                        <section v-if="step == 2">
                            <h5 class="mt-3 app-subtitulo">Escolha seu Queijo</h5>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo1" value="Queijo Mussarela">
                                        <label for="queijo1">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/queijos/queijo1.png">
                                            <p>Queijo Mussarela</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo2" value="Queijo Provolone">
                                        <label for="queijo2">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/queijos/queijo2.png">
                                            <p>Queijo Provolone</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo3" value="Queijo Gorgonzola">
                                        <label for="queijo3">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo3.png">
                                            <p>Queijo Gorgonzola</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo4" value="Queijo Cottage">
                                        <label for="queijo4">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo4.png">
                                            <p>Queijo Cottage</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo5" value="Queijo Mascarpone">
                                        <label for="queijo5">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo5.png">
                                            <p>Queijo Mascarpone</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo6" value="Queijo Ricota">
                                        <label for="queijo6">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo6.png">
                                            <p>Queijo Ricota</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo7" value="Queijo  Parmesão">
                                        <label for="queijo7">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo7.png">
                                            <p>Queijo Parmesão</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo8" value="Queijo  Edam">
                                        <label for="queijo8">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo8.png">
                                            <p>Queijo Edam</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo9" value="Queijo Cheddar">
                                        <label for="queijo9">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo9.png">
                                            <p>Queijo Cheddar</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo10" value="Queijo Brie">
                                        <label for="queijo10">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo10.png">
                                            <p>Queijo Brie</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo11" value="Queijo Prato">
                                        <label for="queijo11">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo11.png">
                                            <p>Queijo Prato</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper queijo">
                                        <input v-model="form.queijo" type="radio" id="queijo12" value="Queijo Minas Frescal">
                                        <label for="queijo12">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/queijos/queijo12.png">
                                            <p>Queijo Minas Frescal</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
    
                        <section v-if="step == 3">
                            <h5 class="mt-3 app-subtitulo">Escolha sua carne</h5>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne1" value="Hambúrguer">
                                        <label for="carne1">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne1.png">
                                            <p>Hambúrguer</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne2" value="Filé de Frango">
                                        <label for="carne2">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne2.png">
                                            <p>Filé de Frango</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne3" value="Hambúrguer Vegetariano">
                                        <label for="carne3">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne3.png">
                                            <p>Carne Vegetariano</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne4" value="Carne Picanha">
                                        <label for="carne4">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne4.png">
                                            <p>Carne Picanha</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne5" value="Hambúrguer de Peixe">
                                        <label for="carne5">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne5.png">
                                            <p>Hambúrguer de Peixe</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne6" value="Hambúrguer de Soja">
                                        <label for="carne6">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne6.png">
                                            <p>Hambúrguer de Soja</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne7" value="Bacon Frito">
                                        <label for="carne7">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne7.png">
                                            <p>Bacon Frito</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne8" value="Bife Frito">
                                        <label for="carne8">
                                            <img class=" border rounded-3" src="/resources/storage/cardapio/carnes/carne8.png">
                                            <p>Bife Frito</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne9" value="File Mion">
                                        <label for="carne9">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne9.png">
                                            <p>File Mion</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne10" value="Carne Maminha">
                                        <label for="carne10">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne10.png">
                                            <p>Carne Maminha</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne11" value="Carne Contrafilé">
                                        <label for="carne11">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne11.png">
                                            <p>Carne Contrafilé</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4 wrapper carne">
                                        <input v-model="form.carne" type="radio" id="carne12" value="Carne Alcatra">
                                        <label for="carne12">
                                            <img class="border rounded-3" src="/resources/storage/cardapio/carnes/carne12.png">
                                            <p>Carne Alcatra</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
    
                        <section v-if="step == 4">
                            <h5>De um nome para a sua criação</h3>
                                <textarea v-model="form.message" placeholder="Insira aqui " class="form-control"></textarea>
                        </section>
    
                        <section v-if="step == 5" class="text-center">
                            <h4 class="mt-5">Resumo do pedido</h4>
                            <p>Pão escolhido: {{form.pao}}</p>
                            <p>Queijo escolhido: {{form.queijo}}</p>
                            <p>Carne escolhido: {{form.carne}}</p>
                            <p>Nome do lanche: {{form.message}}</p>
                        </section>
    
                        <div class="mt-3 text-end btn-cardapio">
                            <button class="btn btn-warning" v-if="step != 1" @click.prevent="prevStep">Anterior</button>
                            <button class="btn btn-warning" v-if="step != totalsteps" @click.prevent="nextStep">Próximo</button>
                            <button class="btn btn-warning" v-if="step == 5" @click.prevent="send">Fazer Pedido!</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
   </main>

  
    <footer>
        <!--Newletter-->
        <div class=" area-news p-3">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12 col-md-6">
                <h1 class="text-center display-4 fw-bold text-light">Quer saber mais?</p>
                  <h3 class="text-center fw-400 text-light">Assine a nossa newsletter!</p>
              </div>
              <div class="col-12 col-md-6">
                <form method="POST">
                  <div class="form-newsletter">
                    <input type="email" class="news-input" id="email" name="email" placeholder="Insira o seu email">
                    <button type="submit" id="news-btn" class="btn btn-light" value="Cadastrar"><i
                        class="bi bi-send-fill"></i> Cadastrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    
        <footer class="text-center text-lg-start bg-light text-muted">
          <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
              <span>Conecte-se conosco nas redes sociais:</span>
            </div>
    
            <div>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-google"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-linkedin"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="bi bi-github"></i>
              </a>
            </div>
    
          </section>
    
          <section>
            <div class="container text-center text-md-start mt-5">
              <div class="row mt-3">
    
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>BESTMEAL
                  </h6>
                  <p>
                    O objetivo do projeto foi desenvolver um sistema on-line, com o foco em alimentação e gastronomia
                    (lanches), que permita que o usuário possa ser o próprio realizador de seu(s) prato(s). Destarte,
                    Bestmeal é um projeto que inova os gostos de quem compra e revoluciona a vontade de matar a fome.
                  </p>
                </div>
    
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
                  <h6 class="text-uppercase fw-bold mb-4">
                    PRODUTOS
                  </h6>
                  <p>
                    <a href="#!" class="text-reset">Bootstrap</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">PHP</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">MysQl</a>
                  </p>
                </div>
    
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
                  <h6 class="text-uppercase fw-bold mb-4">
                    links github
                  </h6>
                  <p>
                    <a href="#!" class="text-reset"><i class="bi bi-github"></i>LetFa</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset"><i class="bi bi-github"></i>Laramina984</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset"><i class="bi bi-github"></i>JoãoVitor-Torres</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset"><i class="bi bi-github"></i>Stephanie-Amorim</a>
                  </p>
                </div>
    
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
                  <h6 class="text-uppercase fw-bold mb-4">Contato da Empresa</h6>
                  <p><i class="fas fa-home me-3"></i> Campus-Birgui, BR- 16201-407, SP</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    bestmealburgues@gmail.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> (18) 997 550 194</p>
                  <p><i class="fas fa-print me-3"></i> (18) 234 567 89</p>
                </div>
    
              </div>
    
            </div>
          </section>
    
          <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Bestmeal</a>
          </div>
        </footer>



    <!-- Bootstrap JavaScript  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
      </script>
    <!--Scripts-->
    <script src="/resources/js/active.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/separate/circle.js"></script>
    <script src="/resources/js/1bootstrap.min.js"></script>
    <script src="/resources/js/2jquery.min.js"></script>
    <script src="/resources/js/3jquery.mask.min.js"></script>
    <script src="/resources/js/4popper.min.js"></script>
    <script src="/resources/js/bootstrap.bundle.js"></script>
    <script src="/resources/separate/progressBar.min.js"></script>
    <script src="/resources/separate/app.js"></script>
    <script src="/resources/separate/vue.js"></script>

</body>

</html>