.area-cadastrar{
    margin-top: -10px !important;
    margin: 0;
    padding: 150px;
    width: 100%;
    height: 100%;
    background-image: url('../storage/banner/tela_cadastrar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-area {
    height: 450px;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fbfbfb57;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.cadas_btn{
    color: black;
    width: 100%;
    background: #ffc400 !important;
    border: #ffc400;
}


