.area-cadastrar{
    margin-top: -10px !important;
    margin: 0;
    padding: 150px;
    width: 100%;
    height: 100%;
    background-image: url('../storage/banner/tela_cadastrar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.formulario-cadastrar{
    background-color: transparent;
    background-color: rgba(187, 187, 187, 0.411);
    width: 500px;
    margin: auto;
}
.formulario-cadastrar img{
   width: 60%;
   margin: auto;
}
.form-cadastrar form{
    margin-top: -100px;
}


