#lanches i {
    color: #ffc21c;
}

#lanches h1{
    font-size: 25pt;
    margin-bottom: 4rem;
}


.sub{
    margin-top: -100px;
}

.banner-cadastro{
    background-image: url('../storage/banner/banner-cadastro.png');
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.form-cadastro{
   background-color: rgba(3, 3, 2, 0.162);
   padding: 10px;
   margin-top: 4rem;
}


.btn-car a{
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
    color: #ffc21c;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #ffc21c;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-car a:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 10px;
}

