.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

.area-login{
    margin-top: -50px !important;
    margin: 0;
    padding: 150px;
    width: 100%;
    height: 100%;
    background-image: url('../storage/banner/tela-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario-login{
    background-color: transparent;
    background-color: rgba(187, 187, 187, 0.411);
}